<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-primary">Administrador de Categorias</h1>
                <p class="lead text-white">En este apartado se muestra el listado de todas las categorias
                    a las que pertenecen nuestros libros, puedes registrar una nueva, y eliminar y/o editar las
                    existentes.
                </p>
                <p>
                    <a href="/register-category" class="btn btn-primary my-2">Registra una nueva categoria</a>
                </p>
            </div>
        </div>
    </section>

    {{#if hasCategories}}

    <div class="row">
        {{#each categories}}

        <div class="col mb-4">
            <div class="card" style="width: 18rem; height: auto;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{this.name}}</h5>
                    <p class="card-text "><strong>Descripción: </strong> {{this.description}}</p>
                    <p class="card-text "><strong>Libros asociados: </strong> {{lengthValue this.books}}</p>
                    <form class="form-delete" action="/delete-category" method="post">
                        <input type="hidden" name="CategoryId" value="{{this.id}}" />
                        <button type="button" class="btn btn-sm btn-danger float-end ms-2 btn-delete-category">Eliminar</button>
                    </form>
                     <a href="/edit-category/{{this.id}}?edit=true" class="btn btn-sm btn-secondary float-end">Actualizar</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
    {{else}}

    <h1 class="text-center fw-light mb-3 mt-3 text-primary">Oops! :(</h1>
    <h5 class="text-center lead text-white">No hay categorias registradas todavía.</h5>

    {{/if}}

</main>