<main class="mt-5 py-5">
  <form class="row g-3 needs-validation" method="POST"
    action="{{#if editMode}}/edit-author{{else}}/register-author{{/if}}">
    <div class="col-8 m-md-auto">
      <div class="card mb-5" style="background-color: var(--nav-color);">
        <div class="card-header bg-primary text-light">
          <h4 class="text-center">{{#if editMode}}Actualizar este{{else}}Registrar un nuevo{{/if}} autor</h4>
        </div>
        <div class="card-body">
          <div class="card-title">
            <h4 class="text-center mb-4 text-white mt-2">Rellene todos los campos a continuación</h4>
          </div>

          <div class="mb-4">
            <label for="name" class="form-label text-white text-white"><strong>Nombre</strong></label>
            <input type="text" class="form-control bg-dark text-white border-primary" id="name" name="Name"
              value="{{#if editMode}}{{author.name}}{{/if}}" required />
          </div>

          <div class="mb-4">
            <label for="email" class="form-label text-white text-white"><strong>Correo Electrónico</strong></label>
            <input type="email" class="form-control bg-dark text-white border-primary" id="email" name="Email"
              value="{{#if editMode}}{{author.email}}{{/if}}" required />
          </div>


          {{#if editMode}}

          <input type="hidden" name="AuthorId" value="{{author.id}}">

          {{/if}}

          <button type="submit" class="btn btn-primary float-end mt-2">{{#if editMode}}Actualizar{{else}}Registrar{{/if}}</button>

          <a href="/admin-authors" class="btn btn-light float-end mt-2 me-2">Volver</a>
        </div>
      </div>
    </div>
  </form>
  </div>
  </div>
</main>